.app {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.app > p {
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.1rem;
  margin: 0.4rem 0rem;
  color: #fff;
}

.window-width {
  background-color: red;
}

.window-height {
  background-color: rebeccapurple;
}
